body {
    background: #FAF9F6;
    font-family: sans-serif, cursive;
    text-align: left;
    color: #686D76
}
h1 {
    color: #373A40;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
   }